.side-bar
  .side-bar_user-name
    .top-items
      .top-items_name name
      .top-items_icons
        = link_to "#" do
          = icon('far', 'edit', class: 'icon-pencil')
        = link_to "#" do
          = icon('fas', 'cog', class: 'icon-gear')

  .side-bar_group-list
    .side-bar_group 
      .side-bar_grou-name1 test
      .side-bar_grou-messages メッセージ